<h1>Invoice <%= @invoice.invoice_number %></h1>

<p>Dear <%= @client.name %>,</p>

<p>Please find attached your invoice from InvoiceForge.</p>

<div class="meta">
  <div class="meta-row">
    <span class="meta-label">Invoice Number:</span>
    <span class="meta-value"><%= @invoice.invoice_number %></span>
  </div>
  <div class="meta-row">
    <span class="meta-label">Issue Date:</span>
    <span class="meta-value"><%= @invoice.issue_date.strftime('%d %b %Y') %></span>
  </div>
  <div class="meta-row">
    <span class="meta-label">Due Date:</span>
    <span class="meta-value"><%= @invoice.due_date.strftime('%d %b %Y') %></span>
  </div>
</div>

<p class="amount">S$<%= number_with_precision(@invoice.total, precision: 2, delimiter: ',') %></p>

<p style="text-align: center;">
  <a href="<%= @public_url %>" class="button">View Invoice Online</a>
</p>

<p>If you have any questions about this invoice, please don't hesitate to contact us.</p>

<p>Thank you for your business!</p>
